<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.trip_planner_back.mapper.AccommodationMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="accommodation">
        insert into accommodations
        values (
            default,
            #{itineraryId},
            #{dayNumber},
            #{name},
            #{address},
            #{latitude},
            #{longitude},
            now()
        )
    </insert>
    <select id="findByItineraryId" resultType="com.korit.trip_planner_back.entity.Accommodation">
        select
            accommodation_id,
            itinerary_id,
            day_number,
            name,
            address,
            latitude,
            longitude,
            created_at
        from
            accommodations
        where
            itinerary_id = #{itineraryId}
        order by
            day_num asc
    </select>
    <select id="findByItineraryIdAndDay" resultType="com.korit.trip_planner_back.entity.Accommodation">
        select
            accommodation_id,
            itinerary_id,
            day_number,
            name,
            address,
            latitude,
            longitude,
            created_at
        from
            accommodations
        where
            itinerary_id = #{itineraryId}
            and day_number = #{dayNumber}
    </select>
    <update id="update">
        update accommodations
        set
            name = #{name},
            address = #{address},
            latitude = #{latitude},
            longitude = #{longitude}
        where
            accommodation_id = #{accommodationId}
    </update>
    <delete id="deleteById">
        delete from accommodations
        where accommodation_id = #{accommodationId}
    </delete>
    <delete id="deleteByItineraryId">
        delete from accommodations
        where itinerary_id = #{itineraryId}
    </delete>
</mapper>