<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.trip_planner_back.mapper.FavoriteMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="favoriteId">
        insert into favorites
        values
            (default, #{userId}, #{spotId}, now())
    </insert>
    <select id="findByUserId" resultType="com.korit.trip_planner_back.entity.TouristSpot">
        select
            ts.spot_id as spotId,
            ts.title,
            ts.category,
            ts.spot_img as spotImg,
            ts.price,
            ts.address
        from
            favorites f
            inner join tourist_spots ts on f.spot_id = ts.spot_id
        where
            f.user_id = #{userId}
    </select>
    <delete id="deleteById">
        delete
        from
            favorites
        where
            user_id = #{userId}
            and spot_id = #{spotId}
    </delete>
</mapper>