<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.trip_planner_back.mapper.ItineraryItemMapper">
    <insert id="insert" useGeneratedKeys="true" keyProperty="itemId">
        INSERT INTO itinerary_items
        VALUES
            (default,
            #{itineraryId},
            #{day},
            #{spotId},
            #{sequenceOrder},
            #{arrivalTime},
            #{departureTime},
            #{duration},
            #{originalDuration},
            #{travelTime},
            #{travelDistance},
            #{cost},
            #{itemType},
            #{itemName},
            now())
    </insert>
    <delete id="deleteByDay">
        DELETE FROM itinerary_items
        WHERE itinerary_id = #{itineraryId}
        AND day = #{day}
    </delete>
    <delete id="deleteByItineraryIdAndDayAndSpotId">
        DELETE FROM itinerary_items
        WHERE itinerary_id = #{itineraryId}
        AND day = #{day}
        AND spot_id = #{spotId}
    </delete>
    <select id="findByDayId" resultType="ItineraryItem">
        SELECT
            item_id,
            itinerary_id,
            day,
            spot_id,
            sequence_order,
            arrival_time,
            departure_time,
            duration,
            original_duration,
            travel_time,
            travel_distance,
            cost,
            item_type,
            item_name,
            created_at
        FROM itinerary_items
        WHERE
            itinerary_id = #{itineraryId}
            AND day = #{day}
        ORDER BY
            sequence_order ASC
    </select>
    <select id="findByItineraryId" resultType="ItineraryItem">
        SELECT
            item_id,
            itinerary_id,
            day,
            spot_id,
            sequence_order,
            arrival_time,
            departure_time,
            duration,
            original_duration,
            travel_time,
            travel_distance,
            cost,
            item_type,
            item_name,
            created_at
        FROM itinerary_items
        WHERE itinerary_id = #{itineraryId}
        ORDER BY day ASC, sequence_order ASC
    </select>
</mapper>