<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.korit.trip_planner_back.mapper.UserMapper">

    <insert id="insert" useGeneratedKeys="true" keyProperty="userId">
        insert into users
        values(default, #{oauth2Id}, #{name}, #{age},
        #{gender}, #{phone}, #{email}, #{provider}, #{role}, #{profileImg}, now())
    </insert>

    <select id="findByUserId" resultType="com.korit.trip_planner_back.entity.User">
        select
            user_id as userId,
            oauth2_id as oauth2Id,
            name,
            age,
            gender,
            phone,
            email,
            provider,
            role,
            profile_img as profileImg,
            created_at as createdAt
        from
            users
        where
            user_id = #{userId}
    </select>

    <select id="findByOauth2Id" resultType="com.korit.trip_planner_back.entity.User">
        select
            user_id as userId,
            oauth2_id as oauth2Id,
            name,
            age,
            gender,
            phone,
            email,
            provider,
            role,
            profile_img as profileImg,
            created_at as createdAt
        from
            users
        where
            oauth2_id = #{oauth2Id}
    </select>

</mapper>